<script type="text/javascript">
  App.boundsData = <%= @bounds.to_json.html_safe %>;
</script>

<div id="wrapper">
  <div id="controls">
    <h1>Chicago Crime Map</h1>

    <div id="date-control">
      <label>Showing</label>
      <span id="date"></span>
      <div id="slider"></div>
    </div>

    <fieldset id="debug-controls">
      <legend>Debug Controls</legend>
      <input type="checkbox" name="zone-box" value="visible"><label>Zone Box</label>
    </fieldset>
  </div>

  <div id="map"></div>
</div>
